server {
	listen 443 ssl;
	ssl			on;
	ssl_certificate		/etc/ssl/certif.crt;
	ssl_certificate_key	/etc/ssl/private.key;
	server_name ${SERVER_NAME};
	access_log /var/log/nginx/nginx.vhost.access.log;
	error_log /var/log/nginx/nginx.vhost.error.log;
	location / {
	 	proxy_pass http://${NGINX_HOST}:${PORT};
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}
